:root {
    --primary: rgb(0, 160, 223, 1);
    --primary-dark: rgb(0, 85, 184, 1);
    --primary-70: rgba(0, 160, 223, 0.7);
    --primary-50: rgba(0, 160, 223, 0.5);
    --primary-30: rgba(0, 160, 223, 0.3);
    --primary-10: rgba(0, 160, 223, 0.1);
    --logo: white;
    --sidebar-icon: white;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            from(rgb(0, 160, 223, 1)),
            to(rgba(0, 85, 184, 1)));

    background-image: linear-gradient(0deg, rgb(0, 160, 223, 1), rgb(0, 85, 184));
}
